html {
	height: 100%; /* Takes up entire height of document, so our bg image looks correct. */
}

body {
	background: url(../img/mikhail-vasilyev-34524.jpg);
	background-size: cover;
	background-position: center;
	font-family: 'Lato', sans-serif;
	color: #000;
}

#content {

	text-align: center;
	padding-top: 18%;

}

h1 {
	font-weight: 700;
	font-size: 500%;
}

h1,
h3 {
	text-shadow: 1px 1px 2px #d3d3d3;
}

hr {
	width: 400px;
	border-color: #000;
}

.fa-user,
.fa-user-plus {
	padding-left: 8px;
}

.fa-paw {
	padding-right: 8px;
}